:root {
    font-family: 'Jockey One';
    --cor-primaria: #fddd84;
    --cor-secundaria: #000000;
    --cor-terciaria: #A9484A;
    --cor-quaternaria: #7F4B4C;
    --cor-quinta: #544040;
    --cor-sexta: #F5F5F5;
    --cor-setima: #f6f6f6;
    --cor-oitava: #F7E2A7;
    --cor-nona: #c9b682;
    --cor-bem-vindo: #D4E6F1;

    --fonte-primaria: 'Jockey One';
    --fonte-secundaria: 'Comic Sans MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75% 0% 0.35% 3%;
    background-color: var(--cor-terciaria);
}

.header__image-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__back-arrow {
    width: 30px;
    height: 30px;
}

.header__image {
    width: 80px;
    height: 80px;
}

.header__text {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 35px;
    color: var(--cor-secundaria);
}

.header__text {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 35px;
    color: var(--cor-secundaria);
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__menu__link {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    background: var(--cor-quaternaria);
    border-color: var(--cor-secundaria);
    border-radius: 15px;
    color: var(--cor-secundaria);
    cursor: pointer;
    height: 50px;
    margin-right: 20px;
    margin-left: 15px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.header__menu__link:hover {
    background: var(--cor-quinta);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.info-container {
    padding: 20px;
}

.info-section {
    margin-top: 20px;
}

.info-section h2 {
    color: var(--cor-secundaria);
}

.info-box {
    background-color: var(--cor-terciaria); 
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-box p {
    color: var(--cor-secundaria);
    margin: 0;
}

.manage-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-primaria);
}

.manage-button:hover {
    background-color: var(--cor-quaternaria);
}
